<div class="app">
	<div class="title">
		<h1>ANGULAR TEST</h1>
	</div>

	<div class="body">
		<background-picker [color]=defaultBackground></background-picker>

		<div class="block">
			<h2>Products (visible: {{ showProducts }})</h2>
			<button (click)="toggleProducts()">
				Show products
			</button>

			<div class="product-container" *ngIf="showProducts">
				<div *ngFor="let product of products; index as i">
					<div class="product">
						<h3>
							{{ product.name }}
							<button (click)="removeProduct(i)">X</button>
						</h3>

						<p *ngIf="product.description">
							Description: {{ product.description }}
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="block">
			<h2>Add product</h2>

			<form class="add-form" action="">
				Name:<br>
				<input id="add-name" type="text" size="20"><br><br>
				Description:<br>
				<input id="add-description" type="text" size="20"><br><br>
				<input type="button" (click)="addProduct()" value="Submit">
			</form>
		</div>
	</div>
</div>